@body-background:#fff;




body {
  background: @body-background;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.clear{
  clear: both;
}
