@backgroundcolor:#f4f6f9;
@fontcolor:#333;
@navheight:40px;
@fonthovercolor:#2fa2d4;
@fontfamily:"黑体";

ul{
  width: 100%;
  height: @navheight;
  background: @backgroundcolor;
}
ul li{
  line-height: @navheight;
  height: @navheight;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  cursor: pointer;
  color: @fontcolor;
  float: left;
  font-family: @fontfamily;
}
ul li:hover{
  color: @fonthovercolor;
  background: #e2ecf5;
}
